<!doctype html>
<html lang="es">
    <body>
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Registro
                    </div>
                    <form id="loginform">
                        <input [(ngModel)]="Usuario.nombre" type="text" name="nombre" placeholder="Nombre" required>
                        <input [(ngModel)]="Usuario.apellidos"type="text" name="apellido" placeholder="Apellido" required>
                        <input [(ngModel)]="Usuario.email" type="email" placeholder="Email" name="email" required>          
                        <input [(ngModel)]="Usuario.password" type="password" placeholder="Contraseña" name="password" required>
                        <input [(ngModel)]="contrase" type="password" placeholder="Confirmar Contraseña" name="password" required>
                        <button  type="submit" (click)="registrarUsuario()" title="Ingresar" name="Ingresar" >Registrarse</button>
                    </form> 
                </div>
            </div>
           
        </div>     
    </body>
</html>
<router-outlet></router-outlet>