<!DOCTYPE html>
  <html lang="en">
  <body>
    <hr />
    <div class="second">
      <div class="left">
        <h1 class="title">Mi mercadito app</h1>
        <p class="sub-title">
          Mercadito ofrece las mejores productos en donde encontraras las mejores accesorios para estrenar desde electronicos y ropa para que puedas estrenar.
        </p>
        <button class="btn main" id="last"> Login</button>
        <button class="btn main" id="last">Registrar</button>
      </div>
      <div class="right">
        <img src="https://m.media-amazon.com/images/I/513PuLtilUL._SX425_.jpg" alt="img">
      </div>
    </div>
    <router-outlet></router-outlet>

